@font-face {
    src: url(font/iCielBC1676ModernMap-Italic_0.ttf);
    font-family: iCielBC1676;
}
@font-face {
    src: url(font/iCielBCAuthentico-Regular.otf);
    font-family: iCielBCA;
}
@import "include/_body";
@import "include/_theA";
@import "include/_bien";
@import "include/_img";
$tablet-breakpoint: 1024px;
body {
    @include body(100%px, 100%px);
    background-color: rgb(231, 228, 223);
}
.chu {
    :hover {
        color: rgb(89, 6, 245);
    }
    color: rgb(253, 8, 8);
}

.head {
    background-color: black;
    height: 37px;
    .head_left {
        float: left;
        width: 55%;
        .left {
            float: left;
            display: inline-flex;
        }
        .title {
            float: right;
            // letter-spacing: 0px;
            margin-top: 3px;
            font-size: 28.8px;
            p {
                #right {
                    color: rgb(255, 136, 0);
                }
                margin-top: 1px;
                margin-bottom: 0px;
            }
        }
    }
    .head_right {
        float: right;
        display: inline-flex;
        margin-top: 4px;
        margin-right: 2px;
        a {
            padding-right: 2px;
        }
    }
    a {
        :hover {
            color: rgb(226, 19, 123);
        }
        display: block;
        text-decoration: none;
        color: white;
         
    }
}
.contanier {
    .banner {
        img {
            position: relative;
            background: url(../images/nen_gach_2.jpg);
        }
        p {
            position: absolute;
            top: 9.5%;
            left: 0%;
            font-family: iCielBCA;
            font-size: 80px;
            letter-spacing: 3px;
        }
        .ten {
            color: rgb(255, 205, 205);
            position: relative;
            top: -1468px;
            animation-name: ten1;
            animation-duration: 15s;
            animation-iteration-count: infinite;
            animation-fill-mode: forwards;
            // transition: ease-in-out 1s;
        }
    }
    .slider {
        background-color: rgb(231, 228, 223);
        margin-top: -6px;
        .slider1 {
            display: inline-flex;
            background-image: url(../images/nen_gach_2.jpg);
            background-repeat: repeat-x;
            .left1 {
                // width: 56%;
                animation-name: left11;
                animation-duration: 1s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            .right1 {
                .text {
                    span {
                        font-family: iCielBCA;
                    }
                    .banDo {
                        font-family: iCielBC1676;
                        background-color: red;
                        padding: 6px;
                        font-size: 23px;
                        color: white;
                    }
                    p {
                        line-height: 28px;
                    }
                    font-family: iCielBC1676;
                    // float: right;
                    padding-top: 28px;
                }
                animation-name: moChu;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
        }
        .slider2 {
            display: inline-flex;
            .left2 {
                span {
                    font-family: iCielBCA;
                    line-height: 35px;
                }
                .noi {
                    font-size: 32px;
                    line-height: 34px;
                }
                float: left;
                padding-top: 70px;
                animation-name: left22;
                animation-duration: 1s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                // padding-left: 2px;
            }
            .right2 {
                float: right;
                animation-name: moChu;
                animation-duration: 1s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            background-color: rgb(231, 228, 223);
            font-family: iCielBC1676;
            padding-left: 14px;
            padding-top: 15px;
        }
        .slider3 {
            .left3 {
                width: 49%;
                animation-name: left33;
                animation-duration: 1s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }
            .right3 {
                span {
                    font-family: iCielBCA;
                    font-size: 32px;
                    line-height: 35px;
                }
                .noi {
                    font-size: 32px;
                    line-height: 35px;
                }
                float: left;
                padding-top: 120px;
                padding-left: 30px;
                animation-name: moChu;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
            display: inline-flex;
            background-color: rgb(231, 228, 223);
            font-family: iCielBC1676;
            margin-top: -16px;
            padding-bottom: 40px;
        }
        p {
            line-height: 40px;
        }

        font-size: 32px;
        line-height: 15px;
        a {
            :hover {
                color: rgb(89, 6, 245);
            }
            display: block;
            text-decoration: none;
            color: rgb(253, 8, 8);
        }
    }
}
.album {
    width: 100%;
    display: inline-flex;
    background: url(../images/nen_ablum.jpg);
    padding-top: 12px;
    padding-bottom: 12px;
}
.footer {
    padding-top: 64px;
    text-align: center;
    // background-color: rgb(231, 228, 223);
    background: url(../images/bgfooter.jpg);
    .cuoi {
        font-family: iCielBC1676;
        font-size: 25.6px;
        padding-top: 9.6px;
        padding-bottom: 80px;
        a {
            :hover {
                color: rgb(89, 6, 245);
            }
            display: block;
            text-decoration: none;
            color: rgb(253, 8, 8);
        }
    }
}
.sliderPrev {
    cursor: pointer;
    position: absolute;
    width: auto;
    margin-top: 270px;
    padding: 18px;
    // padding-left: 18px;
    color: rgb(116, 112, 112);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    // border-radius: 0 3px 3px 0;
    border-radius: 5px;
    user-select: none;
}
.sliderPrev:hover {
    background-color: rgb(19, 18, 18);
}
.sliderNext {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 20px;
    // padding-left: 18px;
    margin-top: 268px;
    right: 0%;
    color: rgb(116, 112, 112);
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
}
.sliderNext:hover {
    background-color: rgb(10, 10, 10);
}
@media only screen and (max-width: 1000px) {
    .contanier {
        .banner {
            .ten {
                top: -880px;
            }
            p {
                font-size: 69px;
            }
        }
        .slider {
            .slider1 {
                .left1 {
                    width: 100%;
                    animation-name: anh;
                    animation-duration: 1s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }
                .right1 {
                    padding-left: 4px;
                    .text {
                        p {
                            line-height: 33px;
                            // margin-top: 26px;
                        }
                    }
                }
                display: block;
            }
            .slider2 {
                .left2 {
                    // width: 100%;
                    animation-name: anh;
                    animation-duration: 1s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;

                    p {
                        padding-left: 2px;
                    }
                }
                .right2{
                    animation-name: anh;
                    animation-duration: 1s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }
                display: block;
            }
            .slider3 {
                .left3 {
                    width: 100%;
                    animation-name: anh;
                    animation-duration: 1s;
                    animation-iteration-count: 1;
                    animation-fill-mode: forwards;
                }
                .right3 {
                    background-color: rgb(231, 228, 223);
                    // width: 100%;
                    padding-top: 0px;
                }
                display: block;
            }
        }
        .sliderPrev {
            left: 0px;
            margin-top: 697px;
        }
        .sliderNext {
            left: 87%;
            margin-top: 688px;
        }
    }
}
@media only screen and (max-width: 414px) {
    .head {
        .head_left {
            .title {
                padding-top: 8px;
                // padding-left: 3px;
                font-size: 17px;
            }
        }
    }
    .contanier {
        .banner {
            p {
                // top: 2%;
                font-size: 34px;
            }
            .ten {
                top: -468px;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .head {
        .head_left {
            .title {
                padding-top: 8px;
                // padding-left: 3px;
                font-size: 13.5px;
            }
        }
    }
    .contanier {
        .banner {
            p {
                font-size: 30px;
            }
            .ten {
                top: -428px;
            }
        }
    }
}
@media only screen and (max-width: 360px) {
    .head {
        .head_left {
            .title {
                padding-top: 8px;
                padding-left: 2px;
                font-size: 11.6px;
            }
        }
    }
    .contanier {
        .banner {
            p {
                font-size: 29px;
            }
            .ten {
                top: -408px;
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    .head {
        .head_left {
            .title {
                padding-top: 8px;
                font-size: 7.5px;
            }
        }
    }
    .contanier {
        .banner {
            p {
                font-size: 25px;
            }
            .ten {
                top: -363px;
            }
        }
    }
}
@keyframes ten1 {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
    0% {
        color: rgb(255, 205, 205);
    }
    25% {
        color: rgb(255, 0, 140);
    }
    50% {
        color: rgb(255, 205, 205);
    }
    100% {
        color: rgb(255, 0, 140);
    }
}
@keyframes left11 {
    from {
        opacity: 0;
        width: 0%;
        margin-left: 0%;
    }
    to {
        opacity: 1;
        width: 56%;
    }
}
@keyframes moChu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes left22 {
    from {
        opacity: 0;
        width: 0px;
    }
    to {
        opacity: 1;
        width: 60%;
    }
}
@keyframes left33 {
    from {
        opacity: 0;
        width: 0%;
        margin-left: 0%;
    }
    to {
        opacity: 1;
        width: 49%;
    }
}
@keyframes anh{
    from {
        opacity: 0;
        width: 0px;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}


