@font-face {
  src: url(font/iCielBC1676ModernMap-Italic_0.ttf);
  font-family: iCielBC1676; }

@font-face {
  src: url(font/iCielBCAuthentico-Regular.otf);
  font-family: iCielBCA; }

a:hover {
  color: #e2137b; }

img {
  max-width: 100%;
  max-height: auto; }

body {
  width: 100% px;
  height: 100% px;
  margin: 0px;
  padding: 0px;
  max-width: 320px;
  min-width: 100%;
  background-color: #e7e4df; }

.chu {
  color: #fd0808; }
  .chu :hover {
    color: #5906f5; }

.head {
  background-color: black;
  height: 37px; }
  .head .head_left {
    float: left;
    width: 55%; }
    .head .head_left .left {
      float: left;
      display: inline-flex; }
    .head .head_left .title {
      float: right;
      margin-top: 3px;
      font-size: 28.8px; }
      .head .head_left .title p {
        margin-top: 1px;
        margin-bottom: 0px; }
        .head .head_left .title p #right {
          color: #ff8800; }
  .head .head_right {
    float: right;
    display: inline-flex;
    margin-top: 4px;
    margin-right: 2px; }
    .head .head_right a {
      padding-right: 2px; }
  .head a {
    display: block;
    text-decoration: none;
    color: white; }
    .head a :hover {
      color: #e2137b; }

.contanier .banner img {
  position: relative;
  background: url(../images/nen_gach_2.jpg); }

.contanier .banner p {
  position: absolute;
  top: 9.5%;
  left: 0%;
  font-family: iCielBCA;
  font-size: 80px;
  letter-spacing: 3px; }

.contanier .banner .ten {
  color: #ffcdcd;
  position: relative;
  top: -1468px;
  animation-name: ten1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; }

.contanier .slider {
  background-color: #e7e4df;
  margin-top: -6px;
  font-size: 32px;
  line-height: 15px; }
  .contanier .slider .slider1 {
    display: inline-flex;
    background-image: url(../images/nen_gach_2.jpg);
    background-repeat: repeat-x; }
    .contanier .slider .slider1 .left1 {
      animation-name: left11;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
    .contanier .slider .slider1 .right1 {
      animation-name: moChu;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards; }
      .contanier .slider .slider1 .right1 .text {
        font-family: iCielBC1676;
        padding-top: 28px; }
        .contanier .slider .slider1 .right1 .text span {
          font-family: iCielBCA; }
        .contanier .slider .slider1 .right1 .text .banDo {
          font-family: iCielBC1676;
          background-color: red;
          padding: 6px;
          font-size: 23px;
          color: white; }
        .contanier .slider .slider1 .right1 .text p {
          line-height: 28px; }
  .contanier .slider .slider2 {
    display: inline-flex;
    background-color: #e7e4df;
    font-family: iCielBC1676;
    padding-left: 14px;
    padding-top: 15px; }
    .contanier .slider .slider2 .left2 {
      float: left;
      padding-top: 70px;
      animation-name: left22;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
      .contanier .slider .slider2 .left2 span {
        font-family: iCielBCA;
        line-height: 35px; }
      .contanier .slider .slider2 .left2 .noi {
        font-size: 32px;
        line-height: 34px; }
    .contanier .slider .slider2 .right2 {
      float: right;
      animation-name: moChu;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
  .contanier .slider .slider3 {
    display: inline-flex;
    background-color: #e7e4df;
    font-family: iCielBC1676;
    margin-top: -16px;
    padding-bottom: 40px; }
    .contanier .slider .slider3 .left3 {
      width: 49%;
      animation-name: left33;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
    .contanier .slider .slider3 .right3 {
      float: left;
      padding-top: 120px;
      padding-left: 30px;
      animation-name: moChu;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards; }
      .contanier .slider .slider3 .right3 span {
        font-family: iCielBCA;
        font-size: 32px;
        line-height: 35px; }
      .contanier .slider .slider3 .right3 .noi {
        font-size: 32px;
        line-height: 35px; }
  .contanier .slider p {
    line-height: 40px; }
  .contanier .slider a {
    display: block;
    text-decoration: none;
    color: #fd0808; }
    .contanier .slider a :hover {
      color: #5906f5; }

.album {
  width: 100%;
  display: inline-flex;
  background: url(../images/nen_ablum.jpg);
  padding-top: 12px;
  padding-bottom: 12px; }

.footer {
  padding-top: 64px;
  text-align: center;
  background: url(../images/bgfooter.jpg); }
  .footer .cuoi {
    font-family: iCielBC1676;
    font-size: 25.6px;
    padding-top: 9.6px;
    padding-bottom: 80px; }
    .footer .cuoi a {
      display: block;
      text-decoration: none;
      color: #fd0808; }
      .footer .cuoi a :hover {
        color: #5906f5; }

.sliderPrev {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: 270px;
  padding: 18px;
  color: #747070;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none; }

.sliderPrev:hover {
  background-color: #131212; }

.sliderNext {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 20px;
  margin-top: 268px;
  right: 0%;
  color: #747070;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 5px;
  user-select: none; }

.sliderNext:hover {
  background-color: #0a0a0a; }

@media only screen and (max-width: 1000px) {
  .contanier .banner .ten {
    top: -880px; }
  .contanier .banner p {
    font-size: 69px; }
  .contanier .slider .slider1 {
    display: block; }
    .contanier .slider .slider1 .left1 {
      width: 100%;
      animation-name: anh;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
    .contanier .slider .slider1 .right1 {
      padding-left: 4px; }
      .contanier .slider .slider1 .right1 .text p {
        line-height: 33px; }
  .contanier .slider .slider2 {
    display: block; }
    .contanier .slider .slider2 .left2 {
      animation-name: anh;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
      .contanier .slider .slider2 .left2 p {
        padding-left: 2px; }
    .contanier .slider .slider2 .right2 {
      animation-name: anh;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
  .contanier .slider .slider3 {
    display: block; }
    .contanier .slider .slider3 .left3 {
      width: 100%;
      animation-name: anh;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards; }
    .contanier .slider .slider3 .right3 {
      background-color: #e7e4df;
      padding-top: 0px; }
  .contanier .sliderPrev {
    left: 0px;
    margin-top: 697px; }
  .contanier .sliderNext {
    left: 87%;
    margin-top: 688px; } }

@media only screen and (max-width: 414px) {
  .head .head_left .title {
    padding-top: 8px;
    font-size: 17px; }
  .contanier .banner p {
    font-size: 34px; }
  .contanier .banner .ten {
    top: -468px; } }

@media only screen and (max-width: 375px) {
  .head .head_left .title {
    padding-top: 8px;
    font-size: 13.5px; }
  .contanier .banner p {
    font-size: 30px; }
  .contanier .banner .ten {
    top: -428px; } }

@media only screen and (max-width: 360px) {
  .head .head_left .title {
    padding-top: 8px;
    padding-left: 2px;
    font-size: 11.6px; }
  .contanier .banner p {
    font-size: 29px; }
  .contanier .banner .ten {
    top: -408px; } }

@media only screen and (max-width: 320px) {
  .head .head_left .title {
    padding-top: 8px;
    font-size: 7.5px; }
  .contanier .banner p {
    font-size: 25px; }
  .contanier .banner .ten {
    top: -363px; } }

@keyframes ten1 {
  from {
    left: 0%; }
  to {
    left: 100%; }
  0% {
    color: #ffcdcd; }
  25% {
    color: #ff008c; }
  50% {
    color: #ffcdcd; }
  100% {
    color: #ff008c; } }

@keyframes left11 {
  from {
    opacity: 0;
    width: 0%;
    margin-left: 0%; }
  to {
    opacity: 1;
    width: 56%; } }

@keyframes moChu {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes left22 {
  from {
    opacity: 0;
    width: 0px; }
  to {
    opacity: 1;
    width: 60%; } }

@keyframes left33 {
  from {
    opacity: 0;
    width: 0%;
    margin-left: 0%; }
  to {
    opacity: 1;
    width: 49%; } }

@keyframes anh {
  from {
    opacity: 0;
    width: 0px; }
  to {
    opacity: 1;
    width: 100%; } }
