<!--build:style-->
<link rel="stylesheet" href="assets/css/style.css">
<!--/build:style-->

<!-- build:index -->
<div class="head">
    <div class="head_left">
        <div class="left">
            <a href="#"><img src="../images/mui_ten.jpg" alt="anh"></a>
            <a href="#"><img src="../images/logo.jpg" alt="anh" height="33px"></a>
        </div>
        <div class="title">
            <a href="#">
                <p> <span id="right">MAG</span><span id="left">AZINE</span></p>
            </a>
        </div>
    </div>
    <div class="head_right">
        <a href="#"> <img src="../images/like.jpg" alt="anh"></a>
        <a href="#" style="margin-top: 1.3px;"> <img src="../images/share.jpg" alt="anh"></a>
        <a href="#"> <img src="../images/luot_like.jpg" alt="anh"></a>
    </div>
</div>
<div class="contanier">
    <div class="banner">
        <a href="../images/demo_4.jpg">
            <img style="cursor: pointer;" src="../images/demo_4.jpg" alt="anh">
        </a>
        <div class="ten">
            <p> đình hạnh <span>&</span> dạ quỳnh</p>
        </div>
    </div>
    <div class="slider">
        <div class="slider1">
            <div class="left1">
                <a href="../images/demo_5.jpg"> <img src="../images/demo_5.jpg" alt="anh"></a>
            </div>
            <div class="right1">
                <div class="text">
                    <div class="chu">
                        <p style="margin-bottom: 17px;">Chiều thứ 6 này (1/1/2021)</p>
                        <p  style="margin-top: 0px;">bạn có hẹn với chúng mình tại:</p>
                    </div>
                    <div class="chu"> <span>nhà trai</span></div>
                    <div class="chu">
                        <p style="margin-bottom: 0px; margin-top: 20px;">Số 1 - Đỗ Quang - TT Gia Lộc - Gia Lộc - Hải Dương</p>
                        <p style="margin-top: 10px;">Vào lúc 15h30 - 16h30, thứ 6, ngày 01, tháng 01 năm 2021
                        </p>
                    </div>
                    <a style="margin-bottom: 36px;"  href="https://www.google.com/maps/@9.779349,105.6189045,11z?hl=vi-VN"><span class="banDo">Xem
                            bản
                            đồ</span></a>
                    <br>
                    <br>
                    <div class="chu"> <span>nhà gái</span></div>
                    <div class="chu">
                        <p style="margin-top: 15px; margin-bottom: 17px;">Khu 5 - Hương Nội - Tam Nông - Phú Thọ</p>
                        <p style="margin-top: 17px;">Vào lúc 15h - 16h, thứ 6, ngày 01, tháng 01 năm 2021 </p>
                    </div>
                    <a href="https://www.google.com/maps/@9.779349,105.6189045,11z?hl=vi-VN"><span class="banDo">Xem
                            bản
                            đồ</span></a>
                </div>
            </div>
        </div>
        <br>

        <div class="slider2">
            <div class="left2">
                <div class="chu">
                    <p>Trân trọng kính mời Anh/ Chị tới dự</p>
                    <p>Lễ Thành Hôn</p>
                </div>
                <div class="chu"> <span>đình hạnh & dạ quỳnh</span></div>
                <div class="noi">
                    <div class="chu">
                        <p style="margin-bottom: 9px;">Được tổ chức vào lúc 10h45, thứ 7, ngày 02, tháng 01, năm
                            2021</p>
                        <p style="margin-top: 0px;">(Tức ngày 20, tháng 11, năm Canh Tý)
                        </p>
                    </div>
                    <div class="chu">
                        <p>Tại nhà trai: Số 1 - Đỗ Quang - TT Gia Lộc - Gia Lộc - Hải Dương</p>
                    </div>
                </div>
            </div>
            <div class="right2">
                <a href="../images/demo_6.jpg"> <img src="../images/demo_6.jpg" alt="anh" style=" margin-top:0px"
                        ;></a>
            </div>
        </div>
        <br>

        <div class="slider3">
            <div class="left3">
                <a href="../images/demo_7.jpg"> <img src="../images/demo_7.jpg" alt="anh"></a>
            </div>
            <div class="right3">
                <div class="chu">
                    <p>Trân trọng kính mời Anh/ Chị tới dự </p>
                    <p>Lễ Vu Quy</p>
                </div>
                <div class="chu"> <span>dạ quỳnh & đình hạnh</span></div>
                <div class="noi">
                    <div class="chu">
                        <p style="margin-bottom: 4.5px;">Được tổ chức vào lúc 10h45, thứ 7, ngày 02, tháng 01, năm
                            2021</p>
                        <p style="margin-top: 0px;">(Tức ngày 20, tháng 11, năm Canh Tý)</p>
                    </div>
                </div>
                <div class="chu">
                    <p>Tại nhà gái:</p>
                    <p>Khu 5 - Hương nội - Tam Nông - Phú Thọ</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sliderNav">
        <a class="sliderPrev " onclick="plusSlides('-1');">&#10094;</a>
        <a class="sliderNext " onclick="plusSlides('1');">&#10095;</a>
    </div>
</div>


<div class="album">
    <a href="../images/demo_1.jpg">
        <div class="anh" style="padding-right: 3px;"><img src="../images/demo_1.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_2.jpg">
        <div class="anh" style="padding-right: 3px;"><img src="../images/demo_2.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_3.jpg">
        <div class="anh"><img src="../images/demo_3.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_1.jpg">
        <div class="anh" style="padding-right: 3px; display: none;"><img src="../images/demo_1.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_2.jpg">
        <div class="anh" style="padding-right: 3px; display: none;"><img src="../images/demo_2.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_3.jpg">
        <div class="anh" style="display: none"><img src="../images/demo_3.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_1.jpg">
        <div class="anh" style="padding-right: 3px; display: none;"><img src="../images/demo_1.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_2.jpg">
        <div class="anh" style="padding-right: 3px; display: none;"><img src="../images/demo_2.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_3.jpg">
        <div class="anh" style="display: none"><img src="../images/demo_3.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_1.jpg">
        <div class="anh" style="padding-right: 3px; display: none;"><img src="../images/demo_1.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_2.jpg">
        <div class="anh" style="padding-right: 3px; display: none;"><img src="../images/demo_2.jpg" alt="anh"></div>
    </a>
    <a href="../images/demo_3.jpg">
        <div class="anh" style="display: none"><img src="../images/demo_3.jpg" alt="anh"></div>
    </a>
</div>
<div class="footer">
    <div class="hy">
        <img src="../images/hỷ.jpg">
    </div>
    <div class="cuoi">
        <div class="chu">
            <span> Rất hân hạnh được đón tiếp!</span>
        </div>
    </div>
</div>
<!-- /build:index -->

<!-- build:script-->
<script>
    // click chuot cho trai tim
    !function (e, t, a) {
        function n() { c(".heart{width: 10px;height: 10px;position: fixed;background: #f00;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);}.heart:after,.heart:before{content: '';width: inherit;height: inherit;background: inherit;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: fixed;}.heart:after{top: -5px;}.heart:before{left: -5px;}"), o(), r() }
        function r() { for (var e = 0; e < d.length; e++)d[e].alpha <= 0 ? (t.body.removeChild(d[e].el), d.splice(e, 1)) : (d[e].y--, d[e].scale += .004, d[e].alpha -= .013, d[e].el.style.cssText = "left:" + d[e].x + "px;top:" + d[e].y + "px;opacity:" + d[e].alpha + ";transform:scale(" + d[e].scale + "," + d[e].scale + ") rotate(45deg);background:" + d[e].color + ";z-index:99999"); requestAnimationFrame(r) }
        function o() { var t = "function" == typeof e.onclick && e.onclick; e.onclick = function (e) { t && t(), i(e) } }
        function i(e) { var a = t.createElement("div"); a.className = "heart", d.push({ el: a, x: e.clientX - 5, y: e.clientY - 5, scale: 1, alpha: 1, color: s() }), t.body.appendChild(a) }
        function c(e) { var a = t.createElement("style"); a.type = "text/css"; try { a.appendChild(t.createTextNode(e)) } catch (t) { a.styleSheet.cssText = e } t.getElementsByTagName("head")[0].appendChild(a) }
        function s() { return "rgb(" + ~~(255 * Math.random()) + "," + ~~(255 * Math.random()) + "," + ~~(255 * Math.random()) + ")" } var d = []; e.requestAnimationFrame = function () { return e.requestAnimationFrame || e.webkitRequestAnimationFrame || e.mozRequestAnimationFrame || e.oRequestAnimationFrame || e.msRequestAnimationFrame || function (e) { setTimeout(e, 1e3 / 60) } }(), n()
    }(window, document);

    var slideIndex = 2;
    function plusSlides(n) {
        slideIndex = n * 1 + slideIndex;
        showSlides(slideIndex);
    }
    function showSlides(n) {
        var slides = document.getElementsByClassName("anh");
        if (slideIndex > slides.length - 1) {
            slideIndex = slides.length - 1;
        } else if (slideIndex < 2) {
            slideIndex = 2;
        } else {
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slides[slideIndex - 2].style.display = "block";
            slides[slideIndex - 1].style.display = "block";
            slides[slideIndex].style.display = "block";
        }
    }
</script>
<!-- /build:script-->